<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Area chat</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
  </nav>
  <div class="chat-input">
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input" type="text" rows="1" id="area-chat-input" ></textarea>
        <label class="mdl-textfield__label" for="sample5">Chat...</label>
      </div>
    </form>
  </div>
</div>